
body 
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,16,190,0.9724264705882353) 71%, rgba(9,214,255,1) 100%);
}

img
{
    border-radius: 100%;
    max-width: 25%;
}

h1
{
    text-align: center; 
    color: white;
}

h3
{
    text-align: center;
    color: white;
}

p
{
    text-align: center;
    color: white;
}

section
{
    text-align: center;
}

nav
{
    background: black;
    display: table;
    width: 100%;
}

nav ul {list-style: none;}

nav ul li {display: inline;} 

nav ul li a 
{
    font: 13px verdana, arial,tahoma, sans-serif;
    color: white;
    background: black;
    text-decoration: none;
    float: left;
    padding: 5px 10px;
    margin-left: 1px;
}

nav ul li a:hover
{
    color: black;
    background: white;
}
